
.container-fluid{
    margin-bottom: 2%;
}

.col-md-4{
    padding-left: 5%;
    padding-right: 5%;
}

.col-md-6{
    padding: 2%;
}

.col-sm{
    padding: 20px;
}

body{
    height: 100%;
}

.prPlot{
    text-align: justify;
}

.card{
    border-color: white;
}


.loadingContainer{
    top: 50%;
    left: 45%;
    position: fixed;
}


.titleContainer{
    margin: 40px;
}

.headerContainer{
    margin-bottom: 2%;
}

i{
    margin-right: 5px;
}