
.col-sm{
    margin: 40px;
}

img{

}

.container-fluid{
    margin-bottom: 2%;
}

.btn-primary{
    width: 30%;
}

.col-md-4{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}


.card{
    padding: 3%;
}

