.col-8{
    background-color: white;
    padding: 10px;
    opacity: 0.8;
}

.row{
    
    margin-top: 20px;
    padding: 10px;
    opacity: 1
}

img{
    opacity: 1;
}

.col-2{
    background-color: white;
    height: 100px;
}