.search{
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}


.bg-dark{
    background-color: black;
}


.title{
    padding-left: 10px;
    padding-right: 10px;
}

a{
    position: fixed;
    top: 5%;
    left: 2%;
}

i{
    margin-right: 5px;
}