
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <h2>Search a title you are interested in... </h2>
      
            <input type="text"
            class = "form-control"
            placeholder="Write a title or a keyword"
            (keyup.enter) = "search(entry.value)"
            #entry
            >
       
    </div>
</div>


<div class="row d-flex justify-content-center">
    <div class="col-8" *ngFor = "let element of movies; let i = index">

            <!--Movies or series are showed-->
            <img [src]="element.Poster"> 
            <br>
            Title: 
            {{ element.Title }}
            <br>
            Type: {{element.Type}}
            <br>
            <a [routerLink] = "['movie/', element.imdbID]">See more...</a>

    </div>
</div>

